*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5dcc2;
}
.imagem1{
    width: 100%;
    height: 900vh;


}
.nav{
    max-width: 1280px;
   
    height: 70px;
    /*altura do menu*/
    margin-inline: auto;
 

    display: flex;
    /*itens ficarem um do lafo do outro*/
    justify-content: space-between;
    /*espaçamento entre itens*/
    align-items: center;
    /*Alinha os itens*/
}
.nav-list {
    display: flex;
    /*para a lista em linha*/
    gap: 32px;
    /*espaço entre os elementos */
    list-style: none;
    /*tirar as bolinhas da lista */
}

.nav-list a {
    font-size: 18px;/*Altura de fonte*/
    color: #261705;/*cor da fonte*/
    padding-block: 16px;/*aumentar a area de click*/
}