html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sams', sans-serif;
}
body{
    height: 100vh;
    background-color: black;
    background-image: url('');
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color:brown;

}
header{
    position: relative;
    padding: 0 2rem;
}

.navegacao{
    width: 100%;
    height: 60px;
}