* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sams', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../img/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* ========= teste de menu nav ==================  */

nav button {
    padding: 15px;
    border: 1px solid #FFF;
    border-radius: 10px;
    color: #FFF;
    background-color: transparent;
}


a {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background-color: #f5dcc2;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Garante que o cabeçalho fique sobre o conteúdo */
}

.nav {
    max-width: 1280px;
    /*lagura do menu de navegação*/
    height: 70px;
    /*altura do menu*/
    margin-inline: auto;
    /*centralizar um elemento*/

    display: flex;
    /*itens ficarem um do lafo do outro*/
    justify-content: space-between;
    /*espaçamento entre itens*/
    align-items: center;
    /*Alinha os itens*/
}

.logo img {
    width: 100px;
    color: #fff;
}
.cartoes img{
    width: 160px;
}

.nav-list {
    display: flex;
    /*para a lista em linha*/
    gap: 32px;
    /*espaço entre os elementos */
    list-style: none;
    /*tirar as bolinhas da lista */
}

.nav-list a {
    font-size: 18px;/*Altura de fonte*/
    color: #261705;/*cor da fonte*/
    padding-block: 16px;/*aumentar a area de click*/
}
/*============== corpo do tralho ================= */
main {
    height: 300vh;
}


/* ==================== roda pé do site ======================*/

footer {
    background-color: #f5dcc2; /*usado para fazer o efeito fe vidro do fundo*/
    border: 1px solid #ccc;
    color: #261705;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

footer a {
    color: #261705;
}

/* 
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: space-between;
*/

ul li i {
    height: 35px;
}

/* .footer_cont{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   backdrop-filter: blur(10px); 
   padding: 3rem 3.5rem;
   display: grid;
}

.footer_contato h1{
 margin-bottom: 0.75rem;
}
.footer_social{
display: flex;
gap: 2rem;
margin-top: 1.5rem;

}
.footer_social .footer_links{
    height: 2.5rem;
    width: 2.5rem;
    color:#66280a;
    border-radius: 50%;
}
#instagram{
    background: linear-gradient(#7f37c9,#ff2992,#ff9807);
}

#facebook{
    background: linear-gradient();
}
#whatsapp{
    background: linear-gradient();
} */

@media(max-width:992px) {

    .menu,
    .navbar {
        display: none;
    }

    .entrar {
        display: block;
    }
}


/* =========== sub menu =============== */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    /* background-color: rgba(255, 255, 255, 0.9); Cor de fundo com efeito de vidro */
    backdrop-filter: blur(10px);
    /* Desfoque no fundo */
    border: 1px solid #ccc;
    padding: 25px;
    width: auto;
    border-radius: 5px;
}

li:hover>ul {
    display: block;
}
.produtos{
    text-align: left;
}