* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sams', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../img/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
}



nav button {
    padding: 15px;
    border: 1px solid #261705;
    border-radius: 10px;
    color: #261705;
    background-color: transparent;
}


a {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background-color: #f5dcc2;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
   
}

.nav {
    max-width: 1280px;
   
    height: 70px;
    
    margin-inline: auto;
 

    display: flex;
   
    justify-content: space-between;
   
    align-items: center;
   
}

.logo img {
    width: 100px;
    color: #fff;
}
.cartoes img{
    width: 160px;
}

.nav-list {
    display: flex;
   
    gap: 32px;
   
    list-style: none;
    
}

.nav-list a {
    font-size: 18px;
    color: #261705;
    padding-block: 16px;
}

main {
    height: 150vh;
}


/* ==================== roda pé do site ======================*/

footer {
    background-color: #f5dcc2; /*usado para fazer o efeito fe vidro do fundo*/
    border: 1px solid #ccc;
    color: #261705;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

footer a {
    color: #261705;
}


ul li i {
    height: 35px;
}


@media(max-width:992px) {

    .menu,
    .navbar {
        display: none;
    }

    .entrar {
        display: block;
    }
}


/* =========== sub menu =============== */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    /* background-color: rgba(255, 255, 255, 0.9); Cor de fundo com efeito de vidro */
    backdrop-filter: blur(10px);
    /* Desfoque no fundo */
    border: 1px solid #ccc;
    padding: 25px;
    width: auto;
    border-radius: 5px;
}

li:hover>ul {
    display: block;
}
.produtos{
    text-align: left;
}